**/.DS_Store

**/Thumbs.db
**/ehthumbs.db
**/[Dd]esktop.ini

**/.npm
**/.eslintcache
**/.stylelintcache

**/*.env
**/*.env.*

**/*.log
**/*.log.*

**/*.tsbuildinfo

**/.idea/
**/.vscode/

**/node_modules/

**/dist/
**/build/
**/output/
**/out/

**/coverage/
**/temp/
**/cache/
